[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

.vs/
.vscode/
.idea/
.gradle/
.consulo/
ExportedObj/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

[Aa]ssets/[Pp]lugins/[Ee]ditor/JetBrains*

sysinfo.txt
*.stacktrace

*.apk
*.aab
*.app
*.ipa
*.unitypackage

crashlytics-build.properties

[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

[Aa]ssets/[Ss]treamingAssets/aa.meta
[Aa]ssets/[Ss]treamingAssets/aa/*

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
desktop.ini

*.orig
*.rej

coverage/
TestResults/

